[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:cegeka/puppet-mysql.git
[submodule "modules/profile"]
	path = modules/profile
	url = git@github.com:cegeka/puppet-profile.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:cegeka/puppet-ntp.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:cegeka/puppet-common.git
[submodule "modules/cegekarepos"]
	path = modules/cegekarepos
	url = git@github.com:cegeka/puppet-cegekarepos.git
[submodule "modules/yum"]
	path = modules/yum
	url = git@github.com:cegeka/puppet-yum.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:cegeka/puppet-stdlib.git
